<div style="height: 100px;background-image: url('../../../assets/imgs/fondo_madera.jpg');text-align: center;">
  <img src="../../../assets/imgs/camara.png" style="margin: 10px;" width="80px" height="80px" style="margin: 3px;" alt="">
  <img src="../../../assets/imgs/comentario.png" style="margin: 10px;"  width="80px" height="80px" style="margin: 3px;" alt="">
  <img src="../../../assets/imgs/estrella.png" style="margin: 10px;" width="80px" height="80px" style="margin: 3px;" alt="">
  <img src="../../../assets/imgs/casa.png" style="margin: 10px;" width="80px" height="80px" style="margin: 3px;" alt="">
</div>
