
  .full-size-div {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    // align-items: center;
    background-image: url('../../../assets/imgs/fondo_madera_2.jpg');
    background-size: 100% 100%; /* Ajusta la imagen para cubrir todo el div */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen */
    background-color: lightgray; /* Opcional: color de fondo para visualizar el tamaño */
  }