<ion-content>
  <div class="full-size-div">
    <!-- Contenido del div -->
    <div>
      <h1 style="text-align: center;color: white;font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: xx-large;">Claudia Cocina</h1>
      <img src="../../../assets/imgs/logo.jpg" style="border-radius: 50%; width: 250px;height: 250px;border: solid 2px black;" alt="">
      <ion-button expand="block" (click)="ir()">Ingresar</ion-button>
      <img src="../../../assets/imgs/esp.jpg" style="width: 100px;height: 50px;" alt="">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <img src="../../../assets/imgs/ing.jpg" style="width: 100px;height: 50px;" alt="">

    </div>
  </div>
</ion-content>
